@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #30336b;
  overflow: hidden;
  min-height: 100vh;
}

.navigation {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 4px;
  z-index: 100000;
  transition: height 0.5s, width 0.5s;
  transition-delay: 0s, 0.75s;
  overflow: hidden;
}
.navigation.active {
  width: 250px;
  height: 350px;
}
.navigation .toggle {
  display: flex;
  position: relative;
  width: 100%;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
  background-color: #22a6b3;
  transition: 0.5s;
  cursor: pointer;
}
.navigation .toggle.active {
  background-color: #eb4d4b;
}
.navigation .toggle.active::before {
  transform: rotate(315deg);
}
.navigation .toggle::before {
  content: "+";
  position: absolute;
  display: flex;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-weight: 400;
  color: #fff;
  transition: 0.5s;
}
.navigation ul {
  position: absolute;
  left: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
}
.navigation ul li:hover {
  background-color: #22a6b3;
}
.navigation ul li:hover .icon .fa, .navigation ul li:hover .title {
  color: #fff;
}
.navigation ul li a {
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: #30336b;
}
.navigation ul .icon {
  position: relative;
  display: block;
  min-width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.navigation ul .icon .fa {
  font-size: 24px;
  color: #30336b;
}
.navigation ul .title {
  position: relative;
  display: block;
  text-align: start;
  line-height: 50px;
  white-space: nowrap;
}

/*# sourceMappingURL=style.css.map */
